.lead-home {
    font-size: 115%;
    line-height: 200%;
    height: 420px;
}

.carousel-caption {
  background: @grayDark;
  opacity:0.9;
}

.navbar-inverse .navbar-search .search-query
{
  color: @gray;
}
