---
interface Props {
	pageTitle: string;
	description: string;
	faviconHref?: string;
	faviconType?: string;
}

const { pageTitle, description, faviconHref, faviconType } = Astro.props;
---

<head>
	<link rel="profile" href="https://gmpg.org/xfn/11" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{pageTitle}</title>
	<meta name="description" content={description} />
	{faviconHref && <link rel="icon" type={faviconType} href={faviconHref} />}
	<link rel="manifest" href="/site.webmanifest" />
	<meta name="theme-color" content="#fd7e14" />
	<meta name="msapplication-TileColor" content="#fd7e14" />
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
	/>
</head>
