---
import Base from "../layouts/Base.astro";
import RichContent from "../components/RichContent.astro";
import { getPageByPath } from "../lib/seed";
import { getEmDashEditAttrs } from "../lib/site";

const page = getPageByPath("blog");
---

<Base
	title={page?.data.title || "Blog"}
	bodyClass="page page-template page-template-default"
>
	<div class="container-fluid">
		<section id="primary" class="p-4">
			<div id="content" role="main">
				<article
					{...page ? getEmDashEditAttrs("pages", page.slug, page.status) : {}}
				>
					<header class="page-header">
						<h1
							class="entry-title"
							{...page
								? getEmDashEditAttrs("pages", page.slug, page.status, "title")
								: {}}
						>
							{page?.data.title || "Blog"}
						</h1>
					</header>
					<div
						class="entry-content"
						{...page
							? getEmDashEditAttrs(
									"pages",
									page.slug,
									page.status,
									"content_html",
								)
							: {}}
					>
						<RichContent value={page?.data.content_html} />
					</div>
				</article>
			</div>
		</section>
	</div>
</Base>
