---
import { getPublishedPosts } from "../lib/content";
import { formatPathDate, sortByPublishedOn } from "../lib/path-utils";

const recentPosts = sortByPublishedOn(await getPublishedPosts()).slice(0, 25);
---

<section id="secondary" class="widget-area col-lg-4 p-3" role="complementary">
	<aside id="recent-posts-2" class="widget card mb-4 widget_recent_entries">
		<h2 class="widget-title card-header h5 mb-0">Recent Interviews</h2>
		<ul>
			{
				recentPosts.map((post) => (
					<li>
						<a href={`/${post.data.path}/`}>{post.data.title}</a>
						<span class="post-date">{formatPathDate(post.data.path)}</span>
					</li>
				))
			}
		</ul>
	</aside>
</section>
