// Responsive Breakpoints
// --------------------------------------------------

// Small devices (landscape phones, 767px and down)  
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  
  .container {
    width: auto;
    padding: 0 10px;
  }
  
  #page {
    margin: 0;
    padding: 10px;
  }
  
  .thumbnail[class*="span"],
  .gallery [class*="span"] .thumbnail {
    display: table;
    float: left;
  }
  
  .carousel .carousel-item > img {
    width: 100%;
  }
  
  .thumbnails > li {
    float: left;
    margin-left: 20px;
  }
  
  .gallery-columns-2.thumbnails > li:nth-child(2n+1),
  .gallery-columns-3.thumbnails > li:nth-child(3n+1),
  .gallery-columns-4.thumbnails > li:nth-child(4n+1),
  .gallery-columns-5.thumbnails > li:nth-child(5n+1),
  .gallery-columns-6.thumbnails > li:nth-child(6n+1),
  .gallery-columns-7.thumbnails > li:nth-child(7n+1),
  .gallery-columns-8.thumbnails > li:nth-child(8n+1),
  .gallery-columns-1.thumbnails > li {
    margin-left: 0;
  }
  
  .gallery-columns-2.thumbnails [class*="span"] {
    width: 47.4%;
  }
  
  .gallery-columns-3.thumbnails [class*="span"] {
    width: 29.9%;
  }
  
  .gallery-columns-4.thumbnails [class*="span"] {
    width: 21.2%;
  }
  
  .gallery-columns-6.thumbnails [class*="span"] {
    width: 12.4%;
  }
  
  .gallery-columns-7.thumbnails [class*="span"] {
    width: 9.9%;
  }
  
  .gallery-columns-8.thumbnails [class*="span"] {
    width: 8.7%;
  }
  
  .sidebar-content #primary,
  .sidebar-content #attachment-comment {
    float: none;
    margin: inherit;
  }
  
  #s {
    display: inline-block;
  }
  
  #site-generator,
  #site-generator.footer-nav-menu a {
    float: none;
    margin-top: 5px;
  }
  
  textarea[class*="span"] {
    height: auto;
  }
  
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    margin: 0;
  }
}

// Medium devices (tablets, 768px to 778px)
@media (min-width: 768px) and (max-width: 778px) {
  #page {
    margin-right: -15px;
  }
}

// Large devices (desktops, 768px to 979px)
@media (min-width: 768px) and (max-width: 979px) {
  .dl-horizontal dt {
    width: 85px;
  }
  
  .dl-horizontal dd {
    margin-left: 95px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #page {
    margin-right: -30px;
    padding: 24px 0 10px;
  }
  
  .sidebar-content #primary,
  .sidebar-content #attachment-comment {
    margin-right: 30px;
  }
  
  .wp-caption {
    display: table;
  }
}