// Responsive Breakpoints
// --------------------------------------------------

// Small devices (landscape phones, 767px and down)  
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  
  .container {
    width: auto;
    padding: 0 10px;
  }
  
  #page {
    margin: 0;
    padding: 10px;
  }
  
  .figure,
  .gallery .figure {
    display: table;
  }
  
  .carousel .carousel-item > img {
    width: 100%;
  }
  
  .gallery > li {
    flex: 0 0 auto;
  }
  
  .gallery-columns-2 > li {
    width: calc(50% - 0.5rem);
  }
  
  .gallery-columns-3 > li {
    width: calc(33.333% - 0.5rem);
  }
  
  .gallery-columns-4 > li {
    width: calc(25% - 0.5rem);
  }
  
  .gallery-columns-5 > li {
    width: calc(20% - 0.5rem);
  }
  
  .gallery-columns-6 > li {
    width: calc(16.666% - 0.5rem);
  }
  
  .gallery-columns-7 > li {
    width: calc(14.285% - 0.5rem);
  }
  
  .gallery-columns-8 > li {
    width: calc(12.5% - 0.5rem);
  }
  
  .sidebar-content #primary,
  .sidebar-content #attachment-comment {
    float: none;
    margin: inherit;
  }
  
  #s {
    display: inline-block;
  }
  
  #site-generator,
  #site-generator.footer-nav-menu a {
    float: none;
    margin-top: 5px;
  }
  
  textarea.form-control {
    height: auto;
  }
  
  .fixed-top,
  .fixed-bottom {
    margin: 0;
  }
}

// Medium devices (tablets, 768px to 778px)
@media (min-width: 768px) and (max-width: 778px) {
  #page {
    margin-right: -15px;
  }
}

// Large devices (desktops, 768px to 979px)
@media (min-width: 768px) and (max-width: 979px) {
  .dl-horizontal dt {
    width: 85px;
  }
  
  .dl-horizontal dd {
    margin-left: 95px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #page {
    margin-right: -30px;
    padding: 24px 0 10px;
  }
  
  .sidebar-content #primary,
  .sidebar-content #attachment-comment {
    margin-right: 30px;
  }
  
  .wp-caption {
    display: table;
  }
}